*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    width: 1070px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 4000;
    margin: 0 auto;   
}
.header{
    width: 100%;
    height: 122px;
    display: grid;
    grid-template-columns: 105px 955px;
    grid-template-rows: 42px 70px;
    gap:10px;
    margin-top: 40px;
}
.logo{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}
.menu-top{
    width: 955px;
    height: 42px;
    
}
.meunu-top-item{
    display: inline-block;
    margin: auto 20px;
}
.meunu-top-item ul li {
    display: inline-block;
    padding: 13px;
}
.meunu-top-item ul li a{
    text-decoration: none;
    color: #000;
    font-size: 14px;
    font-weight: 700;

}

.menu-top-search{
    width: 250px;
    height: 35px;
    float:right;
}
.menu-top-search input{
    width: 100%;
    height: 100%;
    padding: 10px 0 10px 8px;
    color: rgb(161,161,161);
    border: 0.2px solid rgb(161,161,161);
    overflow: hidden;
}
.menu-bot{
    width: 955px;
    height: 68px;
    background-color: orange;
}
.menu-bot-item{
    float: left;
    margin: auto 20px;
}
.menu-bot-item ul li{
    display: inline-block;
    padding: 0 13px;
    padding-top: 23px;
}
.menu-bot-item ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
   
}
.connect-s-media{ 
    float: right;
    width: 210px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}
.connect-icon{
    width: 40px;
    height: 40px;
    margin-left: 10px;
    background-color: #fff;
    opacity: 0.5;
    border-radius:5px;
}
.connect-icon i{
    color: orange;
    display:block;
    margin-top: 13px;
    text-align: center;

}
.banner{
    width: 1070px;
    height: 250px;
    background-image: url(/images/banner-redmi-note7.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 10px;
}
.main{
    width: 1070px;
    margin-top: 40px;
}
.post-news{
    width: 1070px;
    height: 465px;   
    display: grid;
    grid-template-columns: 534px 265px 265px;
    grid-template-rows: 261px 198px;
    gap:3px;
}
    
.post-news-item-1{
    grid-column: 1/2;
    grid-row: 1/3;
    background-image: url(/images/msi-2019.jpg);
}
.post-news-item-1 .title {
    width: 410px;
    padding-top: 325px;
    padding-left: 17px;
}
.post-news-item-1 .title a{
    text-decoration: none;
    color: #fff;
    font-size: 26px;

}

.post-news-item-1 .datetime{
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    padding-top: 12px;
    padding-left: 17px;
}
.post-news-item-2{
    grid-column: 2/4;
    grid-row: 1/2;
    background-image: url(/images/msi-2019-players.jpg); 
}
.post-news-item-2 .title {
    width: 440px;
    padding-top: 190px;
    padding-left: 17px;
}
.post-news-item-2 .title a{
    text-decoration: none;
    color: #fff;
    font-size: 22px;

}
.post-news-item-3{
    background-image: url(/images/levi-jdk.jpg);
}
.post-news-item-3 .title {
    width: 220px;
    padding-top: 130px;
    padding-left: 15px;
}
.post-news-item-3 .title a{
    text-decoration: none;
    color: #fff;
    font-size: 15px;

}
.post-news-item-4{
    background-image: url(./images/kieu-anh-hera.jpg);
}
.post-news-item-4 .title {
    width: 225px;
    padding-top: 112px;
    padding-left: 15px;
}
.post-news-item-4 .title a{
    text-decoration: none;
    color: #fff;
    font-size: 15px;

}
.article{
    width: 1070px;
    height: 900px;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.news{
    width: 710px;
}
.article .title{
    color:orange;
    font-size: 20px;
    padding: 12px 0;
}
.article .title-line{
    width: 50px;
    height: 2px;
    background-color:  orange;
}
.list-news{
    width: 710px;
    height: 715px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 225px 435px;
    grid-template-rows: repeat(4,150px);
    row-gap: 38px;
    column-gap: 25px;
}
.list-news .image{
    width: 225px;
    height: 150px;

}
.list-news .image img{
    width: 225px;
    height: 150px;
}
.list-news .image.img1{
    grid-column: 1/2;
    grid-row: 1/2;
}
.list-news .image.img2{
    grid-column: 1/2;
    grid-row: 2/3;
}
.list-news .image.img3{
    grid-column: 1/2;
    grid-row: 3/4;
}
.list-news .image.img4{
    grid-column: 1/2;
    grid-row: 4/5;
}

.news-item{
    width: 435px;
    height: 150px;
}
.news-item .title {
    padding: 5px 0;
}

.news-item .title a{
    text-decoration: none;
    color: #000;
    font-size: 20px;
}
.news-item .datetime{
    color: rgb(161,161,161);
    font-size: 11px;
    font-weight: 300;  
    padding: 10px 0; 
}
.news-item .content{
    font-size: 13px;
    font-weight: 300;
    line-height: 1.5;
}
.lastest-post{
    width: 330px;
}
.lastest-post .list-post{
    width: 330px;
    height: 340px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.list-post .post-item{
    width: 330px;
    height: 55px;
    padding: 8px 0;
}
.list-post .post-item a{
    text-decoration: none;
    color: #000;
    font-size: 13px;
    font-weight: 500;
}
.logo-ads{
    width: 330px;
    height: 370px;
}
.logo-ads img{
    width: 330px;
    height: 370px;
}
.more-new{
    width: 1070px;
    height: 120px;
}
.more-new button{
    width: 95px;
    height: 30px;
    color: rgb(161,161,161);
    background-color: #fff;
    border: 0.5px solid rgb(161,161,161);
    margin-left: 375px;
    margin-top: 40px;
}
.footer{
    width: 100%;
    height: 340px;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
}
.footer-top{
    width: 100%;
    height: 300px;
    background-color: rgb(56,56,56);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer .title{
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 30px;
    opacity: 0.8;   
}

.about{
    width: 625px;
    height: 160px;
    font-size: 15px;
    margin-left: 250px;
}
.about-us{
    width: 625px;
    height: 60px;
    margin-bottom: 20px;
    color: #fff;
    opacity: 0.8;
    font-weight: 300;
}
.contact{
    color: #fff;
    opacity: 0.8;
    font-weight: 300;
}
.connect{
    width: 260px;
    height: 160px;
    margin-right: 320px;
}
.connect-us{
    width: 220px;
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.icon-connect{
    width: 40px;
    height: 40px;
    background-color: #444;
    opacity: 0.8;
}
.icon-connect i{
    color: #fff;
    display: block;
    margin-top: 13px;
    text-align: center;
}

.footer-bot{
    width: 100%;
    height: 40px;
    background-color: #000;
}
.footer-bot span{
    display: block;
    color: #fff;
    margin-left: 250px;
    font-size: 13px;
    font-weight: 300;
    padding:10px 0;
    opacity: 0.8;
}